# Ignore node_modules directory
node_modules/

# Ignore npm debug log
npm-debug.log

# Ignore any files or directories prefixed with . or _
.*.*
_*.*

# Ignore .env files
*/.env

# Ignore build artifacts and cache directories
/build/
/.idea/
/.vscode/
/dist/
/.cache/
/.DS_Store
